src/BUILD/*
bresfill.asm
logic.asm
lrsDemo.asm
zbuffer.asm
lrsDrawing.asm
*.lst
*.o
demo.asm
*.lib
*.map
*.vice
*.tap
.vscode/settings.json
BUILD/final.out
BUILD/map.htm
BUILD/symbols
BUILD/xaerr.txt
src/glOric_c.asm
src/start.asm
src/xa_labels.txt
__pycache__
